# Server
PORT=3000

# Admin Users (credenciales de superadmins)
ADMIN_1_EMAIL=your_email@example.com
ADMIN_1_USERNAME=your_username
ADMIN_1_PASSWORD=your_password
ADMIN_1_NAME=Your Name — Admin

ADMIN_2_EMAIL=another_email@example.com
ADMIN_2_USERNAME=another_username
ADMIN_2_PASSWORD=another_password
ADMIN_2_NAME=Another Name — Admin

# APIs (add here if you have external API keys)
# TRACK17_API_KEY=your_key_here
# TRACK17_WEBHOOK_SECRET=your_secret_here
